.sprite-container {
  width: 175px; /* Définissez ici la largeur du sprite */
  height: 121px; /* Définissez ici la hauteur du sprite */
  background-image: url('../../assets/images/enemy/4030010_idle.png');
  background-size: 700px 100%; /* Ajustez "auto" à la largeur totale de votre sprite sheet */
  overflow: hidden;
  animation: sprite-animation 2s steps(4) infinite;
}

@keyframes sprite-animation {
  from { background-position-x: 0; }
  to { background-position-x: -700px; /* Ajustez cette valeur à la largeur totale de votre sprite sheet */ }
}
